In [1]:
import pandas as pd

In [2]:
df_Comercio = pd.read_csv('../data/dados_tratados/Comercio.csv', sep=';')
df_Comercio.head()

                  Tipo              Produto   Ano  Quantidade
0        VINHO DE MESA        VINHO DE MESA  1970    98327606
1             vm_Tinto                Tinto  1970    83300735
2            vm_Rosado               Rosado  1970      107681
3            vm_Branco               Branco  1970    14919190
4  VINHO  FINO DE MESA  VINHO  FINO DE MESA  1970     4430629

In [3]:
df_Completo = pd.read_csv('../data/dados_tratados/Completo.csv', sep=';')
df_Completo.head()

,Tipo,Produto,País,Ano,Quantidade (Kg),Valor (US$)
0,Exportação,Espumantes,Alemanha,1970,0,0.0
1,Exportação,Espumantes,Angola,1970,0,0.0
2,Exportação,Espumantes,Antigua e Barbuda,1970,0,0.0
3,Exportação,Espumantes,Antilhas Holandesas,1970,0,0.0
4,Exportação,Espumantes,Argentina,1970,0,0.0

In [4]:
df_Processamento = pd.read_csv('../data/dados_tratados/Processamento.csv', sep=';')
df_Processamento.head()

,index,control,cultivar,Tipo,Produto,Ano,Quantidade (Kg)
0,0,TINTAS,TINTAS,Processamento,Uva Americana,1970,284285642
1,1,ti_Bacarina,Bacarina,Processamento,Uva Americana,1970,82899
2,2,ti_Bailey,Bailey,Processamento,Uva Americana,1970,0
3,3,ti_Bordo,Bordo,Processamento,Uva Americana,1970,7242197
4,4,ti_Bourdin (S),Bourdin (S),Processamento,Uva Americana,1970,0

In [5]:
df_Producao = pd.read_csv('../data/dados_tratados/Producao.csv', sep=';')
df_Producao.head()

,Tipo,Produto,Ano,Quantidade
0,VINHO DE MESA,VINHO DE MESA,1970,217208604
1,vm_Tinto,Tinto,1970,174224052
2,vm_Branco,Branco,1970,748400
3,vm_Rosado,Rosado,1970,42236152
4,VINHO FINO DE MESA (VINÍFERA),VINHO FINO DE MESA (VINÍFERA),1970,23899346