In [46]:
import pandas as pd

In [47]:
path = '../data/dados_tratados/df_completo_melt.csv'
df = pd.read_csv(path, sep=';')

In [48]:
df

,Tipo,Produto,País,Ano,Quantidade (Kg),Valor (US$)
0,Exportação,Espumantes,Alemanha,1970,0,0.0
1,Exportação,Espumantes,Angola,1970,0,0.0
2,Exportação,Espumantes,Antigua e Barbuda,1970,0,0.0
3,Exportação,Espumantes,Antilhas Holandesas,1970,0,0.0
4,Exportação,Espumantes,Argentina,1970,0,0.0
...,...,...,...,...,...,...
33639,Importação,Vinho,Ucrania,2021,0,0.0
33640,Importação,Vinho,Uruguai,2021,3788831,10063341.0
33641,Importação,Vinho,Nao consta na tabela,2021,0,0.0
33642,Importação,Vinho,Nao declarados,2021,0,0.0
33643,Importação,Vinho,Outros,2021,0,0.0

In [49]:
df.query('País == "Ucrania"')['Produto'].value_counts()

Produto
Espumantes    52
Vinho         52
Name: count, dtype: int64

In [50]:
#agrupando por país e produto
df_pais_produto = df.groupby(['País', 'Produto', 'Tipo']).sum()

df_pais_produto

                                        Ano  Quantidade (Kg)  Valor (US$)
País          Produto    Tipo
Afeganistao   Uva Passa  Importação  103766          1057000    1764980.0
              Vinho      Exportação  103766               11         46.0
Africa do Sul Espumantes Importação  103766           200513    1020435.0
              Suco       Exportação  103766            22289      32294.0
                         Importação  103766           511933     459448.0
...                                     ...              ...          ...
Venezuela     Vinho      Exportação  103766            83125     100793.0
Vietna        Espumantes Exportação  103766             1008       2793.0
              Uva        Exportação  103766              128        371.0
              Vinho      Exportação  103766            11682      15098.0
italia        Suco       Importação  103766           773617     414937.0

[647 rows x 3 columns]